{% extends "base.html" %}



{% block content %}
<div class="" id="home">
        <main class="container py-5">

        <section class="card card-body" id="home1">
            <h1 class="display-1 text-center">Texto Anónimos</h1>
            <p>Este es un sitio para enviar tus textos, y colaborar con ideas para escribir con otras personas que quieran abrir la imaginacion a nuevas 
                escrituras y nuevas perspectivas, nuevos textos, nuevos paradigmas. Tu colaboración importa, cada texto puede ser firmado con tus datos, a menos que no lo quieras.
            </p>
                <div class="text-center">
                    <a class="btn btn-secondary" href="/signin/">
                        Signin
                    </a>
                    <a class="btn btn-dark" href="/signup">
                        Signup
                    </a>
                </div>
        </section>
        </main>
    </div > 
{% endblock content %}
