{% extends "base.html" %}



{% block content %}
<div class="" id="home2">
        <main class="container py-5">

        <section class="card card-body" id="home1">
            <h1 class="display-1 text-center">Sobre mi</h1>
            <p>Mi nombre es Simón, desarrollé este blog, con el framework Django como trabajo final de CoderHouse.
                Vivo en Buenos Aires, pero soy nacido en la ciudad de Tandil. Mi gusto por los paisajes es la influencia natural de la ciudad en donde nací. No hay nada más relajante e inspirador que ver un atardecer.
            </p>
                
        </section>
        </main>
        
    </div > 
    
{% endblock content %}